doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Página Principal
    link(rel="stylesheet" href="/css/styles.css")

  body
    header
      h1 Sistema de Gestión

    main
      .container
        .module
          a(href="/orden-compra") Ingreso de Orden de Compra
        .module
          a(href="/tracking-casilla") Ingreso Tracking Casilla
        .module
          a(href="/ingreso-internacional") Ingreso Internacional
        .module
          a(href="/ingreso-inventario") Ingreso de Inventario
        .module
          a(href="/din-sii") Ingreso de DIN/SII
          
    footer
      p &copy; 2024 Sistema de Gestión
