doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title P치gina Principal
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

  body
    header
      h1 Sistema de Gesti칩n
      form.logout-form(action="/logout" method="POST")
        button(type="submit") Cerrar sesi칩n

    main
      .container
        .module
          a(href="/orden-compra")
            i.fas.fa-shopping-cart
            |  Ingreso de Orden de Compra
        .module
          a(href="/tracking-casilla")
            i.fas.fa-box
            |  Ingreso Tracking Casilla
        .module
          a(href="/ingreso-internacional")
            i.fas.fa-plane
            |  Ingreso Internacional
        .module
          a(href="/ingreso-inventario")
            i.fas.fa-warehouse
            |  Ingreso de Inventario
        .module
          a(href="/dte")
            i.fas.fa-file-alt
            |  Ingreso de DTE

    footer
      p &copy; 2024 Sistema de Gesti칩n
